// Paleta de Colores 
$negro: rgb(0, 0, 0);
$amarillo: #F7760C;
$naranja: #D9490B;
$rojo1: #F02400;
$rojo2: #D90B0B;
$rosa: #F70C7E;
$blanco: rgb(255, 255, 255);
$gradbox-colorBlue: #dffaf9;
$gradbox-colorPink: #ffcbce;

$gradbox-deg: 120deg;
$gradbox-bgSize: 400%;
$gradbox-animDur: 3.5s;

// 
.contact {
    background-image: linear-gradient( 109.6deg,  rgb(8, 2, 15) 11.2%, rgb(11, 62, 73) 91.1% );
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: auto;
    padding: 50px 0 25px;
    color: $blanco;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
// 

.row{
    margin-left: 80000px;
    margin-right: 1000px;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.contact .heading h2 span {
    color: $amarillo;
}

.contact .heading p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $naranja;
    margin: 20px 0 40px;
    padding: 0;
}

.contact .form-control {
    padding: 15px;
    font-size: 13px;
    margin-bottom: 12px;
    background: $blanco;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 16px;
    background:$amarillo;
    color: $blanco;
}

.contact .title {
    h3 {
    font-size: 18px;
    font-weight: 600;
    color: $blanco;
}
 p {
    font-size: 18px;
    font-weight: 400;
    color: $blanco;
    line-height: 1.6;
    margin: 0 0 40px;
    }
}
.info {
    margin-top: 30px;
i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: $amarillo;
    margin-right: 20px;
    text-align: center;
    width: 20px;
  }
  h4{
    font-size: 13px;
    line-height: 1.4;
    color: $blanco;

    span {
    font-size: 13px;
    font-weight: 300;
    color: $blanco;
}
  }
}


form{
    color: black;
    text-align: left;
}

/* Contacto-Mapa*/
#tamañoMapa{
    width: 100%;
}
// ___________
// RESPONSIVE
// Tablet
@media(min-width: 600px) and (max-width: 1023px){
    form{
        margin-top: 25px;
    }
  }
    

//   Smartphone
@media(min-width:320px) and (max-width: 599px){
    .formulario{
      padding: 0 30px;
    } 
    form{
        margin-top: 25px;
    }
}