$alto: 280px;
$ancho: 370px; 
$negro: #000000;
$blanco: #f1f0ea;

.heading .galeria {
  font-size: 4.5rem;
}
// GALERÍA
  .gallery {
    z-index: -1;
    max-width: 1200px;
    margin: 15px auto;
    padding-top: 10px;
    text-align: center;
  }
  
  .gallery-item {
    position: relative;
    display: inline-block;
    height: $alto;
    width: $ancho;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .restaurant-picture {
    height: $alto;
    width: $ancho;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
  }
  
  /** HOVER **/
  .gallery-item:hover .restaurant-picture {
    transform: scale(1.5) rotate(15deg);
  }
  
  //   Smartphone
@media(min-width:320px) and (max-width: 599px){
  .gallery-item{
    width: 85%;
  }

}
